<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="./../../../resources/product/product_commnat/css/bootstrap.min.css" rel="stylesheet">
    <link href="./../../../resources/product/product_commnat/css/custom2.css" rel="stylesheet">
  </head>
  <body>
    <table class="table table-striped">
      <thead>
       <tr>
         <th>번 호 </th>
         <th>제 목</th>
         <th>글쓴이</th>
       </tr>
       </thead>
       <tr>
         <td>1</td>
         <td>테이블 테스트  테이블 테스트 테이블 테스트 </td>
         <td>홍길동</td>
       </tr>
       <tr>
         <td>2</td>
         <td>테이블 테스트  테이블 테스트 테이블 테스트</td>
         <td>임꺽정 </td>
       </tr>
       <tr>
         <td>3</td>
         <td>테이블 테스트  테이블 테스트 테이블 테스트</td>
         <td>성춘향 </td>
       </tr>
     </table>
  </body>
</html>
